@import "variables";

/************TIPOGRAFIA**********************/
*{
    margin: 0;
    padding: 0;
    font-size: 16PX;
  }

/*fuentes*/
@font-face {
    font-family: ´robotoblack´;
    src: url(../assets/Fuentes/robotoblack.ttf);
}
@font-face {
    font-family: ´robotolight´;
    src: url(../assets/fuentes/robotolight.ttf);
}
@font-face {
    font-family: ´robotomedium´;
    src: url(../assets/fuentes/robotomedium.ttf);
}
@font-face {
    font-family: ´robotoregular´;
    src: url(../assets/fuentes/robotoregular.ttf);
}
@font-face {
    font-family: ´robotobold´;
    src: url(../assets/fuentes/robotobold.ttf);
}

main{
    display: block;
    padding-top: 60px;
}
/*******************HEADER**************************/


/************BARRA DE NAVEGACION HEADER*************/
header{
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: $primercolor;
    a{
        font-size: 90%;
        color: $tipografianav2;
        transition: 0.5s;
    }
}

#hoverNav{
    color: $tipografianav;
}
#hoverNav:hover{
    color: $tipografiablanca;
}

/*************LOGO*****************/ 
.logo{
    width: 60px;  
}
/**************FOOTER******************/

/*tipografias footer*/

footer a:hover{
    color: $tipografiablanca;
}

footer{
    background-color: $primercolor;
    height: 420px;    
    a{
        font-family: $regular;
        text-decoration: none;
        color: $tipografiasgrisfooter;  
        transition: 0.5s;  
    }   
}
#redes{
    margin-right: 4%;
}
footer h5{
    color: $tipografiablanca;
}

.rFooter{
    height: 300px;
}
.colorCopy{
    color: $tipografiaCopy;
}

/**********TITULOS*************/
h1{
    color: $tipografianormal;
    font-family: $bold;       
}
h2{
    color: $primercolor;
    font-family: $medium;   
    text-align: center;    
}
h3{
    color: $tipografianormal;
    font-family: $medium;
    font-size: 190%;       
}
h4{
    color: $tipografianormal;
    font-family: $bold;
    font-size: 220%;
}
h5{
    font-family: $regular;
    font-size: 300%;
}
/************PARRAFOS****************/
p{
    color: $tipografianormal;
    font-family: $regular;   
}
/*************BOTONES****************/
button{   
    font-family: $regular;    
}

#button:hover{
    background-color: $botonhover;
    box-shadow: 0px 0px 4px 1px rgba(204, 204, 204, 0.897);   
    transform: scale(1.004);
}
#button{
    background-color: $colorboton; 
    border-color: $botonborde;
    a{
        text-decoration: none;
        color: $tipografiablanca;
    }
}
.responsive{
    width: 150px;
}

/************************************/
/**************INDEX*****************/
/************************************/

/******PORTADA INDEX***********/
#tituloIndex{
    color: $primercolor;    
    position: absolute; 
    text-align: center;
    width: 100%;  
    margin-top: 10%;
    padding-right: 10%;
    padding-left: 10%; 
}
#tituloIndex--dos{
    @extend #tituloIndex;    
    margin-top: 30%;
    color: black;
}
#tituloIndex--tres{
    @extend #tituloIndex;
    margin-top: 30%;
    text-align: right;
} 
#tituloIndex--cuatro{
    @extend #tituloIndex;
    margin-bottom: 43%;
} 
#tituloIndex--cinco{
    @extend #tituloIndex;
    margin-bottom: 15%;
}

.diseñoPortada{
    display: flex;
    position: relative;
    align-items: center;
}
/*************SECCION SERVICIOS*****************/
.seccionServicios{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;    
}
.seccionServicios h2{
    margin-top: 3%;
}

/*******SECCION 2 INDEX*********/

.seccion2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;   
    height: 500px; 
}
.seccion2 p{    
    line-height: 1.8;    
    text-align: center;
}
.seccion2 img{
    justify-items: center;     
    
}
.seccion2 h3{
    text-align: center;
}
.seccion2 button{ 
    text-align: center;    
}

/*************SECCION 3 INDEX******************/
.seccion3{    
    background-color: $seccion3;  
      
}
.textoSeccion3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
}

.textoSeccion3 p{   
    line-height: 1.8;    
    text-align: center;
}

/********SECCION 4 INDEX************/

.seccion4 p{   
    line-height: 1.8;   
    text-align: center;
}
.seccion4 h3{    
    text-align: center;
}
.seccion4 img{
    justify-items: center;
}
.seccion4 button{ 
   text-align: center;
}
.seccion4Flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
}
/************HERRAMIENTAS**************/
 
.herramientasTitulo{
    font-family: $medium;
    font-size: 150%;
    color: $tipografiablanca;
    margin-bottom: 0%;
}
.herramientasParrafo{
    font-family: $regular;
    color: $tipografiablanca;    
    margin-bottom: 0%;
}
.margenHerramientas{
    padding-left: 10%;
}
/*******METODOLOGIA DE TRABAJO***********/
.metodologiaDeTrabajo{
    background-color: rgb(219,219,219);         
    text-align: center; 
    p{
        font-family: $medium;
        font-size: 137,5%;   
    }         
}
.metodologia{
    font-family: $regular;
    font-size: 150%;    
}

/***************PRESUPUESTO**************/
.presupuesto{    
    text-align: center;
}
.presupuesto p{
    font-family: $bold;
    font-size: 240%;     
}
/**************NEWSLETTER******************/
.colorNewsletter{    
    background-color: $newsletter;       
}
#inputNewsletter{
    font-family: $regular;
    font-size: 100%;
    transition: all 1s;
}
.newsletter div{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 5%;
    align-items: flex-start;
}
.newsletter div p{
    width: 600px;
    line-height: 1.8;
    margin-top: 2%;
    margin-bottom: 2%;
}
.newsletter div input{
    width: 600px;    
}
#inputNewsletter:focus{
    transform:scale(1.5);   
}
/*****CSS Para paginas especificas******/

/*posicion ilustracion h3 index*/
.posicionIlustracion{
    height: 700px;
}
.posicionIlustracion img{
    position: relative;
    top: 20px;
    width: 50%;
}
.posicionIlustracion div{
    text-align: center;
    display: inline-block;
    font-size: 100%;
    width: 50%;
    line-height: 1.8;
    position: relative;
    left:50%;
    bottom: 410px;
}
.posicionIlustracion div p{
    margin-left: 120px;
    margin-right: 120px;
}
.posicionIlustracion div button{
    position: relative;
    top:20px;
}
.posicionIlustracion div h3{
    position: relative;
    bottom: 20px;
}

/*************************************************************/
/*****************DISEÑO PAGINAS WEBS*************************/
/*************************************************************/

/****************PORTADA*****************/
.diseñoPortada2{
    display: flex;
    position: relative;
    align-items: center;
}
.diseñoPortada2 h1{    
    width: 40%;
    text-align: left;
    padding-left: 8%;     
    color: $primercolor;  
    position: absolute;    
}

/***************SECCION HERRAMIENTAS*****************/
.colorSeccionHerramientas{
    background-color: $herramientas;
}

.seccionHerramientas{
    background-color: $herramientas;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;  

}
.seccionHerramientas h2{
    color: $tipografiablanca;
    margin-top: 3%;
    text-align: center;
}
/*******************************************************/
/**************TIENDAS ONLINE***************************/
/*******************************************************/

/************SECCION TIPOS DE TIENDAS*********************/
.seccionServicios h5{
    color: $primercolor;
    font-family: $medium;
    font-size: 220%;
    text-align: center;
    margin-top: 3%;
}

/*****************************************************/
/******************APLICACIONES***********************/
/*****************************************************/
.diseñoPortada .tituloApps {    
    text-align: center;
    margin-top: 10%;
    color: $primercolor;
}

/******************************************************/
/***************DISEÑO GRAFICO*************************/
/******************************************************/
.tituloDisenoGrafico{
    color: $tipografiablanca;
}

/********************************************/
/*****************TE ESCUCHAMOS**************/
.colorTeEscuchamos{
    div{
        h1{
            text-align: center;
        }
    }
}
.colorTeEscuchamos{    
    background-image: linear-gradient($fondowhite,$fondowhite, $fondowhite,$newsletter,$newsletter,$newsletter)  
}
.colorTeEscuchamos{
    textarea{
        height: 200px;
    }
}