
/***************************************************************************************/
/*****************************************MEDIA QUERIES*********************************/
/***************************************************************************************/
/*******************TABLET****************************/
/*****************************************************/
@media only screen and (max-width: 1024px) {
    .seccion2 h3 {
      font-size: 120%; }
    .seccion2 p {
      font-size: 90%; }
    .seccion2 {
      height: 0%; }
    .textoSeccion3 {
      height: 0%; }
    .textoSeccion3 h3 {
      font-size: 120%; }
    .textoSeccion3 p {
      font-size: 90%; }
    .seccion3 {
      padding-top: 3%;
      padding-bottom: 3%; }
    .seccion4Flex {
      height: 0%;
      padding-top: 3%;
      padding-bottom: 3%; }
    .seccion4Flex p {
      font-size: 90%; }
    .seccion4Flex h3 {
      font-size: 120%; }
    .rFooter h5 {
      font-size: 100%; }
    .rFooter a {
      font-size: 80%; }
    .rFooter p {
      font-size: 80%; }      

      /*no agrandar imputs*/
    #inputNewsletter:focus{
      transform: none;
    }
    main{
      display: block;
      padding-top: 65px;
  }
    }
  
  @media only screen and (max-width: 768px) {
    /*****INDEX - HEADER - FOOTER****/
    .seccion2 {
      padding-top: 4%; }
    .textoSeccion3 {
      padding-top: 4%; }
    #tituloIndex {
      font-size: 120%; }
    .titulodisenoweb{
      font-size: 120%;
    }
    .seccionServicios h2 {
      font-size: 120%; }
    #rSeccion3 {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      padding-top: 5%;
      padding-bottom: 5%; }
    #imgResp {
      width: 25%;
      align-items: center;
      padding: 2%; }
    .colorNewsletter p {
      font-size: 90%; }
    .colorNewsletter h4 {
      font-size: 120%; }
    #inputNewsletter {
      font-size: 80%; }
    #imgRespSecciones {
      width: 45%;
      align-items: center;
      padding: 0%; }
    .rFooter {
      align-items: center; }
    footer {
      height: 660px; }
    #redes {
      width: 10%; }
    /***********DISEÑO WEB*********/
    .respMetodologia {
      text-align: left; }
    .parrafoMetodologia div {
      padding: 2%; } }
  
  @media only screen and (max-width: 576px) {
    footer div {
      padding-left: 0.5rem; } }
  
  @media only screen and (max-width: 480px) {
    #tituloIndex {
      font-size: 90%; }
      .titulodisenoweb{
        font-size: 90%;
      }    
    .colorNewsletter p {
      font-size: 60%; }
    footer div {
      padding-left: .5rem; } 
      main{
        display: block;
        padding-top: 67px;
    }
    }
