
/***************************************************************************************/
/*****************************************MEDIA QUERIES*********************************/
/***************************************************************************************/
/*******************TABLET****************************/
/*****************************************************/
@media only screen and (max-width: 1024px) {
   
    
    .seccion2 {
      height: 0%; }
    .textoSeccion3 {
      height: 0%; }    
    .seccion3 {
      padding-top: 3%;
      padding-bottom: 3%; }
    .seccion4Flex {
      height: 0%;
      padding-top: 3%;
      padding-bottom: 3%; }
    
    .rFooter h5 {
      font-size: 100%; }
    .rFooter a {
      font-size: 80%; }
    .rFooter p {
      font-size: 80%; }      

      /*no agrandar imputs*/
    #inputNewsletter:focus{
      transform: none;
    }
    main{
      display: block;
      padding-top: 65px;
  }
    }
  
  @media only screen and (max-width: 767px) {
    /*****INDEX - HEADER - FOOTER****/
    .seccion2 {
      padding-top: 4%; }
    .textoSeccion3 {
      padding-top: 4%; }
    #rSeccion3 {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      padding-top: 5%;
      padding-bottom: 5%; }
    #imgResp {
      width: 25%;
      align-items: center;
      padding: 2%; }    
    #imgRespSecciones {
      width: 45%;
      align-items: center;
      padding: 0%; }
    .rFooter {
      align-items: center; }
    footer {
      height: 660px; }
    #redes {
      width: 10%; }
    /***********DISEÑO WEB*********/
    .metodologiaDeTrabajo{
      .margenMetodologia div{
        padding: 2%;
        padding-left: 10%;
      }
      p{
        text-align: left;
      }
    } 
  }    
  
  @media only screen and (max-width: 575px) {
    footer div {
      padding-left: 0.5rem; } 
    
    .margenHerramientas{
    padding-left: 0%;
}
#corte{
  padding-left: 1.25rem;
}
}
  @media only screen and (max-width: 480px) {          
  footer div {
    padding-left: .5rem; } 
  main{
    display: block;
    padding-top: 67px;
  }
}
