
/*********************************************/
/**************MEDIA QUERIES******************/
/*********************************************/
/*****************TABLET**********************/
/*********************************************/
@media only screen and (max-width: 1024px) { 
    .secciones {
      height: 0%;
      p{
        padding-top: 3%;
        padding-bottom: 3%;
      }
     }    
    
    /*no agrandar imputs*/
    #inputNewsletter:focus{
      transform: none;
    }
    main{
      display: block;
      padding-top: 65px;
    }
  }
  
  @media only screen and (max-width: 767px) {    
    .secciones {
      padding-top: 4%; }
    #rSeccion3 {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      padding-top: 5%;
      padding-bottom: 5%; }
    #imgResp {
      width: 25%;
      align-items: center;
      padding: 2%; }    
    #imgRespSecciones {
      width: 85%;
      align-items: center;
      padding: 0%; }
    .rFooter {
      align-items: center; }
    footer {
      height: 660px; }
    #redes {
      width: 10%; }
    /***********DISEÑO WEB*********/
    .metodologiaDeTrabajo{
      .margenMetodologia div{
        padding: 2%;
        padding-left: 10%;
      }
      p{
        text-align: center;
      }
    } 
  }    
  
  @media only screen and (max-width: 575px) {
    #margin{
      padding-right: 1.5rem;
      padding-left:1.5rem;
    }
    #margin2{
      padding-right: .75rem;
      padding-left:.75rem;
    }
    footer div {
      padding-left: 0.5rem; } 
    
    .margenHerramientas{
    padding-left: 0%;
}
    #corte{
      padding-left: 1.25rem;
    }
}
  @media only screen and (max-width: 480px) {  
  .seccionHerramientas h2{
    margin-top: 6%;
  } 
  .seccionServicios h2{
    margin-top: 6%;
  }       
  footer div {
    padding-left: .5rem; } 
  main{
    display: block;
    padding-top: 67px;
  }
  
}
@media only screen and (max-width: 480px) {
  .herramientasTitulo{
    font-size: 90%;
  }
  .herramientasParrafo{
    font-size: 90%;
  }
}
